[Container]
Image=docker.io/jellyfin/jellyfin
Volume=/data/jellyfin/config:/config:Z
Volume=/data/jellyfin/cache:/cache:Z
Mount=type=bind,source=/data/jellyfin/media,destination=/media:Z
PublishPort=8096:8096
PublishPort=8920:8920

[Service]
ExecStartPre=mkdir -p /data/jellyfin/config
ExecStartPre=mkdir -p /data/jellyfin/cache
ExecStartPre=mkdir -p /data/jellyfin/media
Restart=always

[Install]
WantedBy=multi-user.target

