[Unit]
Description=Orches: container orchestrator

[Container]
Image=ghcr.io/orches-team/orches:584cdacd55ae2d3cbf8ab1c8fd304531587778df
Exec=run
Volume=/var/lib/orches:/var/lib/orches
Volume=/etc/containers/systemd:/etc/containers/systemd
Mount=type=bind,source=/run//systemd,destination=/run/systemd
PodmanArgs=--pid host

[Service]
Restart=always

[Install]
WantedBy=multi-user.target

