[Unit]
Description=Orches: container orchestrator

[Container]
Image=ghcr.io/orches-team/orches:ecafc337ed0e7591ebf3bf8b22fde2e0fe38586e
Exec=run
Volume=/var/lib/orches:/var/lib/orches
Volume=/etc/containers/systemd:/etc/containers/systemd
Mount=type=bind,source=/run//systemd,destination=/run/systemd
PodmanArgs=--pid host

[Service]
Restart=always

[Install]
WantedBy=multi-user.target

